<html>
    <head>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="script.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles.css">

    </head>
<body ng-app="transcludeExample">
  <div class="text-center">
    <div ng-controller="ExampleController">
      <input ng-model="title" aria-label="title"> <br/>
      <textarea ng-model="text" aria-label="text"></textarea> <br/>
      <pane title="{{title}}"><span>{{text}}</span></pane>
      <pane title="Pane2"><span>{{text}}</span></pane>

    </div>
  </div>

</body>


</html>
