<h2>Review</h2>
<div class="row">
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="" placeholder="Lastname" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="" placeholder="Email" />
            </div>
            <div class="form-group">
                <uib-rating ng-model="rate" max="10"></uib-rating>
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <!--<div class="btn-group">-->
       <!--<a ui-sref="movie-page.similar"><label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Similar'">Similar</label></a>-->
       <!--<a ui-sref="movie-page.debug"><label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Debug</label></a>-->
       <!--<a ui-sref="movie-page.edit"><label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Edit'">Edit</label></a>-->
    <!--</div>-->

    <!--of a rating (between 1 and 10) a comment, the user name lastaname and email .-->

</div>