<html>
    <head>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrapcustom.css">        
        <!-- Include file with the controller-->
        <script src="/demo/expenses/expenses.controller.js"></script>
    </head>
    <body ng-app="ExpensesDemo">
        <div class="container" ng-controller="ExpensesController as expenseVm">  
        <div class="clearfix"> 
            <div class="left">
                <form class="bootstrap-frm" id="myform">    
                    <div class="row">
                        <h1>Enter New Expense
                            <span>Please fill in all the fields</span>
                        </h1>

                        <label>
                            <span>Date :</span>
                            <input type="text" id="calendar" placeholder="{{expenseVm.currentDate}}" ng-model="expenseVm.expenseDate">
                        </label> 
                        <label>
                            <span>Type :</span>
                            <select id="etype" name="type" ng-model="expenseVm.expenseType">
                                <option value="" disabled selected>Select Expense Type</option>
                                <option value="Food">Food</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Lodging">Lodging</option>
                                <option value="Financial">Financial</option>
                                <option value="Sales">Sales</option>
                                <option value="Other">Other</option>
                            </select>
                        </label>  
                        <label>
                            <span>Description :</span>
                            <textarea id="description" placeholder="Write Expense Description" ng-model="expenseVm.expenseDescription" ></textarea>
                        </label>      
                        <label>
                            <span>Amount :</span>
                            <input id="input" type="number" step="0.01" placeholder="0" ng-model="expenseVm.expenseAmount">
                        </label> 
                        <label>  
                            <span>&nbsp;</span> 
                            <input type="button" class="button" value="Save" id="add-button" ng-click="expenseVm.add(expenseVm.expenseDate,expenseVm.expenseType,expenseVm.expenseDescription,expenseVm.expenseAmount)" > 
                        </label>           
                    </div>
                </form>
            </div>
            <div class="right">
                <form class="bootstrap-frm">    
                    <div class="row">
                        <h1>Expenses Total
                        </h1>

                        <label>
                            <h2>TOTAL AMOUNT OF EXPENSES: $ {{expenseVm.total}}</h2>
                        </label> 

                        <div ng-repeat="item in expenseVm.list" class="col-xs-12">
                            <h2 class="{{item.expense}}" ng-show="item.amount>0">                                
                                {{item.expense}}: $ {{item.amount}}                              
                            </h2>
                        </div>
                        
                    </div>
                </form>
            </div>

            <div class="right">
                <form class="bootstrap-frm">    
                    <div class="row">
                        <h1>Expenses Detail
                        </h1>
                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Amount ($)</th>
                                    </tr>
                                </thead>
                                <tbody>                                     
                                        <tr ng-repeat="expense in expenseVm.expenseList track by $index">  
                                            <td data-title=" ">
                                                <input class="btn btn-default btn-xs" type="button" value="X" ng-click="expenseVm.remove($index)">
                                            </td>                                          
                                            <td data-title="Date">{{expense.date}}</td>
                                            <td data-title="Type">{{expense.expensetype}}</td>
                                            <td data-title="Description">{{expense.description}}</td>
                                            <td data-title="Amount">{{expense.amount}}</td>
                                        </tr>
                                    
                                </tbody>
                            </div>                            
                                         
                        </div>
                        
                        </div>                        
                    </div>
                </form>
            </div>
        </div>           
        </div>
    </body>

</html>